body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightgray;
}
.form 
{
    width: 80%;
    height: auto;
    margin: auto;
    background-color: yellowgreen;
    border-radius: 15px;
}

#btn 
{
    width: 30%;
    height: auto;
    margin: auto;
    padding: 15px;
    margin-left: 35%;
    background-color: rgba(50,0,0,0.4);
    font-size: 25px;
    color: white;
    border-radius: 45px;
}